html, body {
  font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
  background-color: #073743;
}
::selection {
  background: #2C2D21;
  color: #EEECED;
}
.font-fang-song {
  font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
}
.font-song {
  font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}
.font-kai {
  font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
}
.font-hei {
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.is-fullheight {
  height: 100vh;
}

.text-white {
  color: #EEECED;
}
.text-black {
  color: #2C2D21;
}
a {
  text-decoration: none;
}

header, nav {
  color: #EEECED;
}
header {
  background-color: darkslategrey;
  background-image: url("../media/image/dan-otis.jpg");
   /* 添加 css 让背景图片不跟随页面滚动 */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}
.logo-container {
  position: absolute;
  top: 0;
  display: flex;
  padding: 24px;
}
.logo-container .logo {
  display: flex;
  height: 72px;
  align-items: center;
  padding-left: 24px;
}
.logo-container .logo img{
  height: 36px;
  width: auto;
}
/* trigger1 设置触发 scrollmagic 的元素位置 */
#trigger1 {
  position: absolute;
  top: calc(150vh - 48px);
}
/* nav */
nav {
  position: fixed;
  width: 100%;
  z-index: 30;
}
nav .container {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}
#menu-button {
  position: relative;
  pointer-events: bounding-box;
  display: block;
  width: 72px;
  height: 72px;
  z-index: 100;
  cursor: pointer;
}
#menu-button div {
  position: absolute;
  left: 24px;
  height: 2px;
  width: 24px;
  background-color: rgba(238, 236, 237, 1);
  /* 设置 transition 过度 */
  /* transition: <property> <duration> <timing-function> <delay>; */
  transition: all .25s ease-in-out;
}
#menu-button div:nth-child(1) {
  top: 29px;
}
#menu-button div:nth-child(2) {
  top: 35px;
}
#menu-button div:nth-child(3) {
  top: 41px;
}
/* 设置展开后的菜单按钮样式 */
#menu-button.opened div{
  background: #2C2D21 !important;
}
/* 设置 div 的旋转角度，形成 x 形 */
#menu-button.opened div:nth-child(1) {
  top: 35px;
  transform: rotate(45deg);
}
#menu-button.opened div:nth-child(2) {
  opacity: 0;
}
#menu-button.opened div:nth-child(3) {
  top: 35px;
  transform: rotate(-45deg);
}

/* 在 hover 时，让第二个 div 旋转 90 度，移动第一个和第三个 div 形成 + 号形状 */
#menu-button:hover div:nth-child(2) {
  transform: rotate(90deg);
}
#menu-button:hover div:nth-child(1), #menu-button:hover div:nth-child(3) {
  top: 35px;
}

/* menus */
.menu-container {
  /* 相对于 viewport 绝对定位 */
  position: fixed;
  /* 设置大小为满屏 */
  width: 100vw;
  height: 100vh;
  /* 让次元素在屏幕外(右上) */
  left: 100vw;
  top: -100vh;
  transition: all .5s;
  background: rgba(238,236,237, 0);
  z-index: 50;
  padding: 0 96px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 菜单展开后的效果，配合 js 实现菜单展开*/
.menu-container.opened {
  /* 菜单展开后进入屏幕 */
  left: 0;
  top: 0;
  background: rgb(238,236,237, 1);
}

.menu-container ul {
  list-style: none;
  font-size: 5rem;
}
.menu-container ul li{
  padding: .5rem;
}
.menu-container ul li a {
  display: block;
  position: relative;
}
.menu-container ul li a, .menu-container ul li a:link, .menu-container ul li a:visited{
  color: #2C2D21;
}
/* 使用 ::after 增加伪元素实现效果 */
.menu-container ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -15px;
  right: -15px;
  height: 0;
  opacity: .33;
  background-color: #073743;
  transition: all .25s ease;
}
.menu-container ul li a:hover::after, .menu-container ul li a.is-active::after {
  height: 33%;
}
.menu-container ul li a:active::after {
  background-color: #45C983;
}
/* header */
/* 定义动画名为 fadein-down */
@keyframes fadein-down {
  from {
    /* 动画的初始状态为往上偏移 1rem，完全透明 */
    transform: translate(0, -1rem);
    opacity:0;
  }
  to {
    /* 动画的结束状态为不偏移，不透明 */
    transform: translate(0);
    opacity:1;
  }
}
/* 定义动画名为 fadein-subtitle */
@keyframes fadein-subtitle {
  /* 动画的初始状态为：文字间距 6px，完全透明 */
  from {
    letter-spacing: 6px;
    opacity:0;
  }
  to {
    /* 动画的初始状态为：文字间距默认，不透明 */
    letter-spacing: auto;
    opacity:1;
  }
}

header {
  display: flex;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
header .hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
header .hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}
header h1 {
  font-size: 15vw;
  font-weight: bold;
}
header p.mysubtitle {
  font-size: 4.5vw;
  text-transform: uppercase;
}

header h1 span {
  display: inline-block;
  opacity: 0;
}
/* 为了在载入完成时出发动画，这里定义了 animation 类，配合 js 实现 */
header h1 span.animation {
  /* 使用的缩写形式 */
  animation: 1.5s ease-out forwards fadein-down;
}
header p.mysubtitle {
  opacity: 0;
}
header p.mysubtitle.animation {
  animation: 1.5s ease-out 1s forwards fadein-subtitle;
}
/* 让标题文字依次出现 */
header h1 span:nth-child(1){
  animation-delay: 0.2s;
}
header h1 span:nth-child(2) {
  animation-delay: 0.4s;
}
header h1 span:nth-child(3) {
  animation-delay: 0.6s;
}
header h1 span:nth-child(4) {
  animation-delay: 0.8s;
}

header .scroll-down {
  width: 72px;
  margin: 0 auto;
  display: block;
  color: #EEECED;
  font-size: 3rem;
  transition: all .25s;
  transform: scale(1);
}
header .scroll-down:hover {
  transform: scale(1.2) translateY(3px);
}
@media screen and (min-width: 769px) {
  header h1 {
    font-size: 10vw;
  }
  header p.mysubtitle {
    font-size: 3vw;
  }
}
/* product */
.product {
  padding: 96px 48px;
  background: #EEECED;
}
/* 让文字形成卡片效果 */
.product .desc .mycard{
  background-color: white;
  z-index: 20;
  padding: 48px;
  /* 增加阴影效果 
  offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.1);
  transition: all .5s; /* 给卡片增加过度效果 */
}

@media screen and (min-width: 769px) {
  /* 选择奇数的 .product */
  .product:nth-child(odd) {
    margin: 24px 0 24px 24px;
  }
  /* 选择偶数的 .product */
  .product:nth-child(even) {
    margin: 24px 24px 24px 0;
  }
}

.product figure {
  position: relative;
  overflow: hidden;
  margin: 24px;
  margin: 0 auto;
  transition: all .5s; /* 给图片的容器增加过度 */
}
.product figure img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: all 1s; /* 给图片增加过度 */
  transform: scale(1.2); /* 默认扩大图片至 1.2 倍 */
}

.product .desc {
  display: flex;
  align-items: center;
  text-align: center;
}

.product .desc .mycard hr{
  background-color: rgba(44,45,33, .4);
  /* width: 10rem; */
  height: 1px;
  /* margin: 24px auto; */
}
@media screen and (min-width: 1472px) {
  .product .desc .mycard h3{
    font-size: 2.5rem;
  }
  .product .desc .mycard .mysubtitle{
    font-size: 1.25rem;
  }
}
.product .desc h3 {
  font-size: 2rem;
}
/* footer */
footer {
  text-align: center;
  background-image: url(../media/image/dan-otis.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem 1.5rem 3rem 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}
footer .content h4 {
  color: rgba(255, 255, 255, 0.7);
}
footer a {
  color: rgba(255, 255, 255, 0.7);
}
footer a:hover {
  color: #45C983;
}
footer .social {
  margin: 5rem auto;
}
footer .social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .social ul > li {
  padding: 0 .8rem;
  margin: 0;
}
/* 手机平台对 background-attachment: fixed 不好，仅对大屏优化 */
@media screen and (min-width: 769px) {
  footer {
    background-attachment: fixed;
  }
}